@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* NAV MENU */
header{
    background-color: #26264b;
    height: 100px;
    width: 100%;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
}
header nav .logo{
    height: 2.5em;
}
header nav ul{
    display: flex;
    line-height: 3em;
}
header nav ul li{
    padding: 0 20px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}
header nav ul li a::after{
    content: "";
    position: absolute;
    background-color: rgba(135,26,228,1);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: .5s;
}
 header nav ul li a:hover::after{
    width: 100%;
 }
header nav span{
    background-image: linear-gradient(90deg, rgba(135,26,228,1) 35%, rgba(147,78,192,1) 100%);
    background-size: 200%;
    background-position: right;
    border-radius: 3px;
    transition: background-position 1s;
}
header nav span:hover{
    background-position: left;
}
header nav .charlas a{
    line-height: 3.5em;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    font-size: small;
}
header nav .menu{
    height: 2em;
    display: none;
}

/*SECTION*/
section{
    background: linear-gradient(180deg, #0000009c 10%, #0000099c 100%), url(fondo2.jpg);
    height: 689px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
section .container{
    width: 40%;
    height: 85%;
    background-color: rgba(207, 207, 207, 0.73);
    margin: auto;
    border-radius: 10px;
    padding: 3em;
}
section .container form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
section .container form .titulo{
    font-weight: 600;
    text-align: start;
}
section .container form .textos{
    font-weight: 600;
}
section .container form .inputs{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #26264b;
    width: 17em;
    height: 2em;
    outline: none;
}
section .container form .inputs::placeholder{
    color: black;
}
section .container form select{
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 1px solid #26264b;
    width: 17em;
    height: 2em;
    outline: none;
}
section .container form .lenguajes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
section .container form .lenguajes .tipos-lenguajes{
    margin: 0 10px;
}
section .container form .numerobinarios{
    display: flex;
}
section .container form .experiencia{
    display: flex;
    flex-direction: column;

}
section .container form .enviar{
    padding: 5px 20px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, rgba(135,26,228,1) 35%, rgba(147,78,192,1) 100%);
    background-size: 200%;
    background-position: right;
    transition: background-position 1s;
    color: white;
}
section .container form .enviar:hover{
background-position: left;
}

/*MEDIA QUERIES*/
@media (max-width: 1186px){
    section .container form .titulo{
        font-size: 1.2em;
        font-weight: 800;
    }
    section .container {
        width: 50%;
    }
}
@media (max-width: 900px){
    header nav ul, 
    header nav span{
        display: none;
    }
    header nav .menu{
        display: flex;
    }
    section .container {
        width: 55%;
    }
}
@media (max-width: 802px){
    section{
        height: 800px;
    }
}
@media (max-width: 970px){
    section{
        height: 800px;
    }
    section .container form .lenguajes{
        justify-content: flex-start;
    }
}
@media (max-width: 570px){

    section .container {
        width: 70%;
    }
}
@media (max-width: 442px){
    section .container{
        padding: 1em;
    }
    header nav .logo,
    header nav .menu{
        height: 2em;
    }
}
@media (max-width: 372px){
    header nav{
        padding: 2em ;
    }
    section .container form .inputs,
    section .container form select{
        width: 13em;
        height: 2em;
    }
    section .container form .titulo{
        font-size: 1em;
    }
}
@media (max-width: 318px){
    section .container {
        width: 80%;
    }
    header nav .menu{
        height: 1.5em;
        margin: auto;
    }
    header nav{
        padding: 2em 1em;
    }
}
